@use './mixins';
@use './elements_global_styles';

$assets_directory : '../assets';
$fonts_directory : '../assets/fonts';

@font-face {
    font-family : 'SteppeBook';
    src : url('#{$fonts_directory}/Steppe-Book.ttf');
}
@font-face {
    font-family : 'SteppeExtraBold';
    src : url('#{$fonts_directory}/Steppe-ExtraBold.ttf');
}



html {
    font-size : 16px;
}
body {
    --content-max-width : 1200px;
    $content-high-width : 1024px;
    $content-medium-width : 680px;
    $content-low-width : 495px;

    --products_item-width : 384px;

    margin : 0;
    padding : 0;

    --color-def : #5243f4;
    --color-def_hover : #3e30d8;
    --color-dark : #5d3427;

    background-color : var(--color-def);

    --font-normal : 'SteppeBook', sans-serif;
    --font-bold : 'SteppeExtraBold', sans-serif;

    font-family : var(--font-normal);
    color : white;
}

#app {
    position : relative;
    overflow : hidden;


    .header {
        .container_wrapper {
            padding : 40px 0;

            .content_wrapper {
                display : flex;
                align-items : center;
                justify-content : space-between;


                .menu {
                    display : flex;
                    gap : 50px;
                    padding : 0;
                    list-style : none;


                    a {
                        cursor : pointer;

                        font-size : 1.25rem;
                        line-height : 130%;
                        text-decoration : none;
                        color : white;

                        &:hover {
                            border-bottom : solid 2px white;
                        }
                    }

                }

            }

        }

    }


    .intro {
        .container_wrapper {
            padding : 160px 0 200px 0;

            .content_wrapper {

                .info {
                    max-width : 811px;


                    .title {
                        margin-bottom : 20px;

                        font-family : var(--font-bold);
                        font-size : 5.625rem;
                        line-height : 100%;
                    }

                    .text {
                        max-width : 697px;
                        margin-bottom : 40px;

                        font-size : 1.125rem;
                        line-height : 130%;
                    }

                    .action > button {}

                }


                .bg_image {
                    position : absolute;
                    top : 0;
                    right : 0;
                    z-index : -1;
                }

            }

        }

    }


    .products {
        position : relative;

        .container_wrapper {
            padding : 100px 0;

            .content_wrapper {

                .products_items {
                    display : grid;
                    grid-template-columns : repeat(auto-fit, var(--products_item-width));
                    justify-content : center;
                    gap : 90px 24px;
                    margin-top : 110px;


                    .item {
                        background-color : white;
                        color : var(--color-dark);


                        .item_image {
                            height : 202px;
                            text-align : center;

                            img {
                                position : relative;
                                max-width : 100%;
                                height : 272px;
                                top : -70px;
                            }
                        }


                        .item_detail {
                            padding : 24px;


                            .title {
                                margin-bottom : 20px;

                                font-family : var(--font-bold);
                                font-size : 1.125rem;
                            }


                            .text {
                                height : 110px;
                                margin-bottom : 20px;

                                font-size : .875rem;
                                line-height : 120%;
                            }


                            .extra {
                                display : flex;
                                justify-content : space-between;
                                align-items : center;


                                .price {
                                    margin-bottom : 10px;
                                    
                                    font-family : var(--font-bold);
                                    font-size : 1.5rem;
                                    color : var(--color-def);
                                }


                                .weight {
                                    font-size : .75rem;
                                }

                            }

                        }

                    }

                }

            }

        }

    }


    .love {
        .container_wrapper {
            padding : 64px 0 86px 0;

            .content_wrapper {

                .about {
                    display : flex;
                    gap : 20px;

                    margin-top : 40px;


                    > div {
                        width : calc( (var(--content-max-width) / 2) - 10px );
                        min-height : 453px;


                        &.left {
                            padding : 110px 0;
                            box-sizing : border-box;

                            background-color : white;
                            color : var(--color-dark);


                            > div {
                                max-width : 430px;
                                margin : 0 auto;
                            }


                            .title {
                                margin-bottom : 20px;

                                font-family : var(--font-bold);
                                font-size : 1.5rem;
                                line-height : 110%;
                            }

                            .text {
                                font-size : 1.125rem;
                                line-height : 130%;
                            }
                            
                        }

                    }

                }

            }

        }

    }


    .order {
        position : relative;

        .container_wrapper {
            padding : 64px 0 102px 0;

            .content_wrapper {
                position : relative;


                .bg_image {
                    position : absolute;
                    top : 0;
                    right : calc(100% - 810px);
                    z-index : -1;
                }


                .block {
                    display : flex;
                    justify-content : center;
                    gap : 60px;
                    margin-top : 103px;

                    background-color : rgba(255, 255, 255, .3);
                    backdrop-filter : blur(50px);


                    .form {
                        max-width : 400px;
                        padding : 40px 0 44px 0;

                        box-sizing : border-box;


                        .text {
                            font-family : var(--font-bold);
                            font-size : 1.125rem;
                            line-height : 130%;
                        }


                        .inputs {
                            display : flex;
                            flex-direction : column;
                            margin-top : 20px;

                            $input-buttons-width : 385px;


                            input {
                                margin-bottom : 16px;
                                padding : 1.5rem 1.375rem;
                                width : $input-buttons-width;
                                height : 68px;
                                box-sizing : border-box;

                                border : 1px solid white;
                                border-radius : 999em;
                                background-color : transparent;
                                outline : none;

                                font-size : 1.125rem;
                                color : white;

                                &::placeholder {
                                    color : rgba(255, 255, 255, .4);
                                }
                            }


                            button.violet {
                                width : $input-buttons-width;
                                height : 71px;
                            }

                        }

                    }


                    .image {
                        height : 501px;


                        img {
                            position : relative;
                            height : 559px;
                            top : -58px;
                        }

                    }

                }

            }

        }

    }


    .footer {
        .container_wrapper {
            padding : 126px 0 50px 0;
            text-align : center;


            .logo {
                > img {
                    margin : 0 auto;
                }
            }


            .rights {
                margin-top : 14px;

                font-size : 1.125rem;
                line-height : 130%;
            }

        }

    }


    .background-line1 {
        position : absolute;
        z-index : -1;
        top : 0;
        left : calc(100% - 960px);
    }
    .background-line2 {
        position : absolute;
        z-index : -1;
        top : 500px;
        left : 0;
    }
    .background-line3 {
        position : absolute;
        z-index : -1;
        top : -920px;
        left : 0;
    }

}